<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheart.do12306.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cheart.do12306.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.QueryActivity"
            android:label="@string/title_activity_query" >
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.ResultQueryActivityListActivity"
            android:label="@string/title_resultqueryactivity_list" >
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.ResultQueryActivityDetailActivity"
            android:label="@string/title_resultqueryactivity_detail"
            android:parentActivityName="com.cheart.do12306.app.ResultQueryActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cheart.do12306.app.view.ResultQueryActivityListActivity" />
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.ShowQueryResult"
            android:label="@string/title_activity_show_query_result" >
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.ShowTicketDetail"
            android:label="@string/title_activity_show_ticket_detail" >
        </activity>
        <activity
            android:name="com.cheart.do12306.app.view.SelectPassengerActivity"
            android:label="@string/title_activity_select_passenger" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
