<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheart.do12306.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".view.QueryActivity"
            android:label="@string/title_activity_query" >
        </activity>
        <activity
            android:name=".view.ResultQueryActivityListActivity"
            android:label="@string/title_resultqueryactivity_list" >
        </activity>
        <activity
            android:name=".view.ResultQueryActivityDetailActivity"
            android:label="@string/title_resultqueryactivity_detail"
            android:parentActivityName=".ResultQueryActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cheart.do12306.app.view.ResultQueryActivityListActivity" />
        </activity>
        <activity
            android:name=".view.ShowQueryResult"
            android:label="@string/title_activity_show_query_result" >
        </activity>
        <activity
            android:name=".view.ShowTicketDetail"
            android:label="@string/title_activity_show_ticket_detail" >
        </activity>
        <activity
            android:name=".view.SelectPassengerActivity"
            android:label="@string/title_activity_select_passenger" >
        </activity>
        <activity
            android:name=".view.SubmitOrderActivity"
            android:label="@string/title_activity_submit_order" >
        </activity>
        <activity
            android:name=".view.Main2Activity"
            android:label="@string/title_activity_main2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UserCenter"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name=".view.DoTicket"
            android:label="@string/title_activity_do_ticket" >
        </activity>
        <activity
            android:name=".view.TestDoQuery"
            android:label="@string/title_activity_test_do_query" >
        </activity>
        <activity
            android:name=".view.DoTicketSetBase"
            android:label="@string/title_activity_do_ticket_set_base" >
        </activity>
        <activity
            android:name=".view.DoTicketSetDo"
            android:label="@string/title_activity_do_ticket_set_do" >
        </activity>
        <activity
            android:name=".view.SelectSeatType"
            android:label="@string/title_activity_select_seat_type" >
        </activity>
        <activity
            android:name=".view.SelectPassengerSetDo"
            android:label="@string/title_activity_select_seat_type" >
        </activity>
        <activity
            android:name=".view.SelectTrainCode"
            android:label="@string/title_activity_select_seat_type" >
        </activity>
        <activity
            android:name=".view.DoTicketShowDo"
            android:label="@string/title_activity_do_ticket_show_do" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
